/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general */
html{
    font-size: 16px;
}

:root{
    --primary:#2877C9;

}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex1{
    display: flex;
}
.item-center{
    align-items: center;
}
.flex-48{
    flex: 0 1 48%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-60{
    flex: 0 1 60%;
}
.flex-35{
    flex: 0 1 35%;
}
*, *::before, *::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    /* font-family: 'Open Sans', sans-serif; */
    line-height: 1.5;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
.btn{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 0.2rem;
    
}
img{
    width: 100%;
}
/* head */

/* header */
.header-nav-bar a{
    color: #696464;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}
.header-nav-bar a:hover{
    background-color:rgba(119, 116, 116,0.1) ;
    color: rgba(0, 0, 0, 0.8);
}
.brand h5{
    font-size: 2rem;
    display: inline-block;
    font-weight: 700;
    color: var(--primary);
    margin-block-end: 0;
}
h5 span{
    background-color: var(--primary);
    color: white;
    position: relative;
    right: 0.4rem;
}
.header-nav-bar .btn{
    color: var(--primary);
    border: 0.1rem solid var(--primary);
    margin-left: 1rem;
}
.border-item{
    border-left: 0.08rem solid rgba(119, 116, 116,0.5);
}
.header-nav-bar .btn:hover{
    border: 0.17rem solid var(--primary);
    color: var(--primary);
    background-color: rgba(40, 119, 201,0.1);

}
/* covid-message */
.covid-msg{
    margin: 1rem 0;
    padding: 0.8rem 0;
    background-color: #E9E5DF;
}
.covid-msg a{
    color: #171716;
    font-weight: 500;
    font-size: 1.2rem ;
}
.covid-msg a span{
    text-decoration: underline;
    
}
.covid-msg .fas{
    
    margin-left: 0.5rem;

}
/* hero */
.hero{
    position: relative;
    padding: 2rem 0;
    margin-bottom: 10rem;
}
h1{
    font-size: 3.4rem;
    
    color: var(--primary);
}
.find-details{
    margin-top: 4rem;
}
.find-details a{
    color: #171716;
    font-size: 1.4rem;
}
.find-details .btn{
    border: 0.1rem solid rgba(105, 100, 100,0.4);
    width: 28rem;
    box-shadow: 0 0.1rem 0.5rem rgba(105, 100, 100,0.7);
}

.find-details li{
    margin-top: 1rem;
}
.hero-img{
    width: 50%;
    position: absolute;
    top: 0;
    right: -1rem;

    
}
/* search */
.search{
    padding: 4rem 0 7rem 0;
    
}
h2{
    color: #171716;
    font-size: 2.9rem;
    margin-top: 2rem;
    
}
.search-options p{
    font-size: 1.2rem;
    color: #5c5c5b;
    margin-bottom: 1rem;
}
.hover span{
    display: inline-block;
    
    padding: 0.8rem;
    background-color: #e6e5e3;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 1.5rem;
}
.search-options a{
    color: #5c5c5b ;
}
.hover span:hover{
    
    background-color:#bebdba ;
    color: #171716;
}
.hover a:hover{
    color: #171716;
}
.margin-bottom{
    margin-bottom: 0.7rem;
}
.show-nav span{
    font-size: 1rem;
   
    
    font-weight: 700;
}
.show-nav{
    margin: 1.2rem 0;
}
/* job artcle */
.job{
    padding: 2rem 0;
    background-color: #f1ece5;
}
.job h2{
    color: #b24026;
    font-size: 2.5rem;
}
.job .btn{
    font-size: 1.2rem;
    color: #5c5c5b;
    font-weight: 600;
    border: 0.08rem solid #171716;
    border-radius: 2rem
}
.job .btn:hover{
    background-color:#bebdba ;
    color: #171716;
}
/* people section */
.people{
    padding: 10rem 0;
}
.previous-opt{
    font-size: 1rem;
    font-weight: 600;
    color: #d9d4d2;
}
.next-opt{
    font-size: 1rem;
    font-weight: 600;
    color: #171716;
    margin-left: 1rem;
}
.people-article h2{
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 1rem;
}
.people-article p{
    font-size: 1.5rem;
    font-weight: lighter;
}
/* find-people */
.find-people{
    padding: 4rem 0 8rem 0;
}
h3{
    font-size: 3.1rem;
    margin: 3rem 0;
}
.find-people img{
    max-width: 60%;
}
.find-people .btn{
    font-size: 1.2rem;
    color: #5c5c5b;
    font-weight: 600;
    border: 0.08rem solid #171716;
    border-radius: 2rem;
}
.find-people .btn:hover{
    background-color:#bebdba ;
    color: #171716;
}
.btm{
    color: #171716;
    font-size: 1.2rem;
    padding: 1rem;
    border: 0.01rem solid rgba(105, 100, 100,0.4);
    border-radius: 0.5rem;
}
.btm .fas{
    margin-left: 2rem;
}
/* story */
.story{
    padding: 5rem 0;
    background: #f4fafe;
    
}
.iframe-container{
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
}
iframe{
    border-radius: 0.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
h4{
    font-size: 2.7rem;
    color: #b24026;
}
.story p{
    font-size: 2.5rem;
    font-weight: lighter;
}
/* join now */
.join-now{
    height: 100vh;
    background: url("https://static-exp1.licdn.com/sc/h/2vt8plqbv2l2pi6kxm89bqs59") repeat-x;
    background-size: cover;
    background-position: 50% 100%;
    margin: 5rem 0 2rem 0;
    padding: 2rem 0;
    height: 52.5rem;
}
.join-now h3{
    color: var(--primary);
    font-size: 3.2rem;
}
.join-now .btn{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    border-radius: 2rem;
    background-color: var(--primary);
}
.join-now .btn:hover{
    background-color:#1d528b ;
}
 h6{
    font-size: 1rem;
    display: inline-block;
    font-weight: 700;
    color: var(--primary);
    margin-block-end: 0;
}
h6 span{
    background-color: var(--primary);
    color: white;
    position: relative;
    right: 0.2rem;
}
/* footer */
.footer{
    padding: 2rem 0;
   
}
.footer-subheading p{
    font-size: 1rem;
    font-weight: 600;
    color: #171716;
    margin-bottom: 0.8rem;
}
.footer-subheading a{
    color: #5c5c5b;
    font-weight: 600;
    font-size: 0.9rem;
}
.footer-subheading a:hover{
    text-decoration: underline;
    color: var(--primary);
}
/* footer */
footer a{
    font-size: 0.75rem;
    font-weight: 600;
    color: #5c5c5b;
    margin-left: 1rem;
}
.footer-logo{
    font-size: 1rem;
    color: #5c5c5b;
    font-weight: 600;
    
}
.footer-logo span{
    background-color: #5c5c5b;
    color: white;
    position: relative;
    right: 0.1rem;
}
.copy{
    font-size: 0.7rem;
    font-weight: lighter;
    margin-left: 0.8rem;
}
footer a:hover{
    color: var(--primary);
    text-decoration: underline;
}

/* media queries */

@media screen and (min-width:768px) and (max-width:800px){
    html{
        font-size: 12px;
    }
    .container{
        max-width: 700px;
    } 

}
@media screen and (max-width:600px){
    html{
        font-size: 10px;

    }
    .container{
        max-width: 550px;
        
    }
    .flex{
        flex-wrap: wrap;
    }
    .flex-30, .flex-35, .flex-48, .flex-60{
        flex: 0 1 100%;
    }
    .border-item{
        display: none;
    }
    /* hero */
    .hero{
        margin-bottom: 1rem;
    }
    .hero-img{
        width: 50%;
        position: static;
        flex: 0 1 100%;
        margin-top: 4rem;
    
        
    }
    .sm-flex{
        display: flex;
        align-items: flex-start;
    }
    .sm-margin{
        margin: 1rem 0;
    }
    .sm-flex-col{
        
        flex-direction: column;
    }
    .hover span{
            margin-bottom: 0.7rem;
    }
    .people-right-col{
        order: -1;
        
        margin: 2rem auto;
    }
    .people-right-col img{
        width: 80%;
    }
    footer{
        height: 5rem;
    }
}